
<div class = "row">
    <div class = "col-md-1">
        <img src="assets/images/flight.png" class="picture">
    </div>
    <div class = "col-md-4">
        <div><%= flight.date%></div>
        <div><%= flight.carrier%></div>
    </div>
    <div class = "col-md-4">
        <div><%= flight.origin%></div>
        <div><%= flight.destination%></div>
    </div>
    <div class = "col-md-3">
        <div><%= flight.minPrice%></div>
        <div>грн</div>
    </div>

</div>