

<div class = "row template">
    <div class = "col-md-1">
        <img src="assets/images/flight.png" class="picture">
    </div>
    <div class = "col-md-3">
        <div><%= flight.date.split('T')[0]%></div>
        <div><%= flight.carrier%></div>
    </div>
    <div class = "col-md-3">
        <div class = "origin"><%= flight.origin%></div>
        <div class = "destination"><%= flight.destination%></div>
    </div>
    <div class = "col-md-3">
        <div class = "price"><%= flight.minPrice%></div>
        <div>грн</div>
    </div>
    <div class = "col-md-2 chooseFlight">
        <button class='btn btn-primary flightbtn'>обрати</button>
    </div>
</div>