
<div class = "row">
    <div class = "col-md-1">
        <img src="assets/images/flight.png" class="picture">
    </div>
    <div class = "col-md-3">
        <div><%= flight.date%></div>
        <div><%= flight.carrier%></div>
    </div>
    <div class = "col-md-3">
        <div class = "origin"><%= flight.origin%></div>
        <div class = "destination"><%= flight.destination%></div>
    </div>
    <div class = "col-md-3">
        <div class = "price"><%= flight.minPrice%></div>
        <div>грн</div>
    </div>
    <div class = "col-md-2 chooseFlight">
        <button>обрати</button>
    </div>
</div>